/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

/* ----------Coloros-------------------------------------------------------------- */
:root {
    --Midnight_Green: #014E56;
    --Light-Coral: #F67E7E;
    --White: #FFFFFF;
    --Rapture-Blue: #79C8C7;
    --Police-Blue: #2C6269;
    --Deep-Jungle-Green: #004047;
    --Sacramento-State-Green: #012F34;
    --Dark-Green: #002529;
    --Img-Border-Color: #C4FFFE;
    --footer-grey: rgb(255, 255, 255, 0.6);
}

/*-----------Colorends----------------------------------------------------------*/


/* -----------Fonts----------*/
@font-face {
    font-family: "Livvic-Bold";
    src: url("Fonts/Livvic-Bold.ttf");
}

@font-face {
    font-family: "Livvic-SemiBold";
    src: url("Fonts/Livvic-SemiBold.ttf");
}

@font-face {
    font-family: "Livvic";
    src: url("Fonts/Livvic-Regular.ttf");
}

@font-face {
    font-family: "Livvic-Black";
    src: url("Fonts/Livvic-Black.ttf");
}

@font-face {
    font-family: "Livvic-BlackItalic";
    src: url("Fonts/Livvic-BlackItalic.ttf");
}

@font-face {
    font-family: "Livvic-ExtraLight";
    src: url("Fonts/Livvic-ExtraLight.ttf");
}

@font-face {
    font-family: "Livvic-ExtraLightItalic";
    src: url("Fonts/Livvic-ExtraLightItalic.ttf");
}

@font-face {
    font-family: "Livvic-Italic";
    src: url("Fonts/Livvic-Italic.ttf");
}

@font-face {
    font-family: "Livvic-Light";
    src: url("FontsLivvic-Light.ttf");
}

@font-face {
    font-family: "Livvic-LightItalic";
    src: url("Fonts/Livvic-Black.ttf");
}

@font-face {
    font-family: "Livvic-Medium";
    src: url("Fonts/Livvic-Black.ttf");
}

@font-face {
    font-family: "Livvic-MediumItalic";
    src: url("Fonts/Livvic-MediumItalic.ttf");
}

@font-face {
    font-family: "Livvic-SemiBoldItalic";
    src: url("Fonts/Livvic-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "Livvic-Thin";
    src: url("Fonts/Livvic-Thin.ttf");
}

@font-face {
    font-family: "Livvic-ThinItalic.ttf";
    src: url("Fonts/Livvic-ThinItalic.ttf");
}


/*------------------Fontsend-----------------------------*/


* {
    font-family: "Livvic";

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border-radius: 24px;
    text-decoration: none;
    padding: 11px 32px;
    border: 2px solid var(--White);
}

/* .button::before { 
    content: "Hola,";
} */

.button-primary:link {

    color: var(--White);


}

.button-primary:hover {

    color: var(--Dark-Green);
    background: var(--White);

}

.button-primary:active {

    color: var(--Sacramento-State-Green);
    opacity: 0.0;
    bac border: var(--Sacramento-State-Green);

}

.button--secondary:link {
    color: var(--Dark-Green);
    background: var(--White);
}

.button--secondary:hover {
    color: var(--Dark-Green);
    background: #79C8C7;
}

.button--secondary:active {
    color: var(--Dark-Green);
    background: #79C8C7;
}

/*--------------Header's classes(H1-H3)---------------------*/
.h1--large {
    font-family: 'Livvic-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: var(--White);
}

.h1--small {
    font-family: 'Livvic-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    color: var(--White);
}

.h2 {
    font-family: 'Livvic-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--White);
}

.h3 {
    font-family: 'Livvic-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--White);
}

/*--------------Header's classes(H1-H3) end---------------------*/

/*---------------------Body's text classes----------------*/
.body--1 {
    font-family: 'Livvic-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--White);
    margin-bottom: 0px;
}

.body--2 {
    font-family: 'Livvic-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--White);
}

/*---------------------Body's text classes end----------------*/

/* about */
.about1 {
    position: relative;

    color: var(--White);
    line-height: 28px;
    font-size: 15px;
    text-align: center;

    background-color: var(--Midnight_Green);

    overflow: hidden;
}

.about1 h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;

    padding-bottom: 16px;
    margin: 0px 24px;
}

.about1 p {
    font-weight: 600;

    padding: 0px 24px 108px;
}

.about1 img {
    position: absolute;
    right: -100px;
    bottom: -100px;

}


.mainabout {
    text-align: center;

    padding-bottom: 116px;
    background-color: var(--Deep-Jungle-Green);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.mainabout__ornament1 {
    position: absolute;
    z-index: 0;

    left: -100px;
    top: -100px;
}

.mainabout__ornament2 {
    position: absolute;

    right: 0px;
    bottom: 0px;

}

.mainabout h2 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;

    padding: 88px 24px 0px;

}

.mainabout__person {
    position: relative;

    width: 88%;
    padding: 32px 0px 56px;
    margin: 0px 24px;
    margin-top: 52px;
    background-color: var(--Sacramento-State-Green);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainabout__person h4 {
    font-style: italic;
}

.mainabout__person:first-child {
    margin-top: 0px;
}



.mainabout__person h3 {
    color: var(--Rapture-Blue);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 16px;
}

.mainabout__person h4 {
    color: var(--White);
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
}

.mainabout__person img {
    width: 96px;
    height: 96px;
    border: 2px solid #C4FFFE;
    border-radius: 50%;
}

.mainabout__person__button {
    font-weight: 700;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;


    width: 56px;
    height: 56px;
    background-color: var(--Light-Coral);
    border: none;
    border-radius: 50%;

}

.mainabout__person__button:hover {
    background-color: var(--Rapture-Blue);
}


.mainabout__person__button:after {
    content: '+';
    font-size: 32px;
    line-height: 0;
    position: absolute;

    top: 43%;
    left: 2%;
    right: 0;
    bottom: 0;
}

.about2 {

    color: var(--White);
    text-align: center;
    position: relative;

    background-color: var(--Sacramento-State-Green);

    overflow: hidden;
}

.about2 h2 {
    color: var(--White);
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    margin: 88px 24px 0px
}

/* .about2 img {
    display: block;
    margin: 0 auto;
} */

.about2__clients {
    height: 512px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about2__1 {
    display: block;

    width: 146.56px;
    height: 24.19px;
    margin: 0px auto;
}

.about2__2 {
    display: block;

    width: 162.21px;
    height: 19.92px;
    margin: 0px auto;
}

.about2__3 {
    display: block;

    margin: 0px auto;
    width: 159.37px;
    height: 24.19px;
}

.about2__4 {
    display: block;

    margin: 0px auto;
    width: 146.56px;
    height: 24.19px;
}

.about2__5 {
    display: block;

    margin: 0px auto;
    width: 86.8px;
    height: 39.84px
}


.about2__ornament {
    position: absolute;
    left: -100px;
    top: -100px;
}

/* pink section */

.pinksection {
    font-weight: 700;
    line-height: 32px;

    position: relative;

    color: var(--Sacramento-State-Green);
    text-align: center;

    background-color: var(--Light-Coral);

    overflow: hidden;
}

.pinksection h2 {
    font-family: "Livvic-Bold";
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;

    margin: 83px 0px 24px;
    padding: 0 24px;

}

.pinksection__button {

    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-decoration: none;
    color: var(--Sacramento-State-Green);

    display: inline-block;
    margin-bottom: 83px;
    padding: 12px 30px;
    background-color: var(--Light-Coral);
    border: 2px solid var(--Sacramento-State-Green);
    border-radius: 50px;

}

.pinksection__button:hover {
    color: var(--White);
    background-color: var(--Sacramento-State-Green);
}

.pinksection__button:active {
    color: var(--Sacramento-State-Green);
    background-color: var(--Light-Coral);
}

.pinksection img {
    position: absolute;
    left: 0px;
    bottom: -22px;
}

/* footer */

.footer {
    color: white;
    text-align: center;

    width: 100%;
    background-color: var(--Dark-Green);
    padding: 66px 60px 64px;

}

.footer__logo {}

.footer__logo img {
    width: 100px;
}

.footer__nav {

    list-style: none;

    margin: 0 auto;
    padding: 24px 50px;

}

.footer__nav li {
    display: inline;
}

.footer__nav li:nth-child(1) {
    padding-right: 24px;
}

.footer__nav a {
    color: var(--White);
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    text-decoration: none;
}

.footer__nav li a:hover {
    color: var(--Light-Coral);
}

.footer__nav a:active {
    color: var(--White)
}

.footer__nav a:visited {
    color: var(--White);
}

.footer__info {}

.footer__info span {
    color: var(--footer-grey);
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;

    display: block;
}

.footer__socials {
    padding: 40px 0px 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__socials a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__socials a:first-child img {
    padding-left: 16px;
}

.footer__socials a img:nth-child(1),
.footer__socials a img:nth-child(2) {
    padding-right: 16px;
}

.footer__socials a:hover {
    cursor: pointer;
    filter: invert(51%) sepia(8%) saturate(3511%) hue-rotate(314deg) brightness(125%) contrast(93%);
}

.footer__socials a:active {
    filter: invert(0%) sepia(99%) saturate(0%) hue-rotate(40deg) brightness(109%) contrast(101%);
}

.footer__copy {
    color: var(--footer-grey);
    white-space: nowrap;
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
}

/*header*/

header {
    background-color: var(--Midnight_Green);
}

.header-logo {
    width: 120px;
    padding: 30px 24px 80px 12px;
}

.navbar-button-open {
    margin-top: -60px;
}

.navbar-btn-close {
    padding-top: 56px;
}

.navbar-button {
    border: none;
    background-color: var(--Midnight_Green);
    padding-right: 12px;
}

.menu-bg-blue {
    background-color: var(--Midnight_Green);
}

.menu-a:link {
    text-decoration: none;
}

.menu-a:hover {
    color: var(--Light-Coral);
}

.menu-btn {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border: 2px solid var(--White);
    border-radius: 24px;
    color: var(--White);
    background-color: var(--Midnight_Green);
    padding: 9px 33px 11px 34px;
}

.menu-btn:hover {
    color: var(--Midnight_Green);
    background-color: var(--White);
}

.nav-img {
    width: 200px;
    height: 200px;
    position: absolute;
    right: -100px;
    bottom: 0px;
}

.navbar-menu {
    padding-left: 48px;
}

.navbar-a {
    padding: 24px 0px 36px 0px;
}

.a-white {
    color: var(--White);
}

.navbar-a-font {
    font-family: 'Livvic';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

/*contacts-main*/

.contacts-main{
    position: relative;
  }

input {
    display: block;
}

.contacts-container {
    width: 100%;
    background-color: var(--Midnight_Green);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts-item {
    flex-basis: 700px;
}

.contacts-h2 {
    width: 327px;
    margin: 0 auto;
    padding-bottom: 24px;
    color: var(--White);
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}

.contacts-h3 {
    width: 200px;
    color: var(--Light-Coral);
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin: 0 auto;
}

.contacts-img {
    display: flex;
    padding-left: 24px;
    padding-top: 40px;
}

.img-person {
    padding-left: 27px;
}

.contacts-p {
    color: var(--White);
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    padding-left: 23px;
    padding-right: 24px;
    margin-top: 15px;
    margin-bottom: -15px;
}

::placeholder {
    color: var(--Rapture-Blue);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}

input {
    border-color: transparent;
    border-bottom: 1px solid var(--White);
    background-color: var(--Midnight_Green);
    width: 325px;
    padding-top: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
}

input:focus {
    background-color: var(--Midnight_Green);
    outline: none;
    border-bottom: 1px solid var(--Rapture-Blue);
    font-family: 'livvic';
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--White);
}

form {
    padding-left: 26px;
}

.input-name {
    padding-top: 56px;
}

.input-msg {
    padding-bottom: 58px;
    margin-bottom: 24px;
}

.form-btn {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border: 2px solid var(--White);
    border-radius: 24px;
    color: var(--Midnight_Green);
    background-color: var(--White);
    Width: 123px;
    Height: 48px;
    margin-bottom: 88px;
}

.contacts-icon {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 90px 90px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.contacts-icon-green {
    width: 200px;
    height: 200px;
    position: absolute;
    object-fit: cover;
    object-position: 100px 200px;
}

/*form-javascript*/

.error-field{
    border-bottom: 1px solid var(--Light-Coral) !important;
}
.error-field::placeholder{
    color: var(--Light-Coral);
}
.error-label{
    color: var(--Light-Coral) !important;
    font-family: 'Livvic';
    font-weight: 700;
    font-size: 10px;
    font-style: italic;
    line-height: 12px;
    padding-top: 8px;
    padding-left: 25px;
}
.error-label-comp-name{
    color: var(--Light-Coral) !important;
    font-family: 'Livvic';
    font-weight: 700;
    font-size: 10px;
    font-style: italic;
    line-height: 12px;
    padding-left: 25px;
    margin-bottom: 352px;
    margin-top: -352px;
}
.error-label-msg{
    color: var(--Light-Coral) !important;
    font-family: 'Livvic';
    font-weight: 700;
    font-size: 10px;
    font-style: italic;
    line-height: 12px;
    padding-left: 25px;
    margin-top: -16px;
    margin-bottom: 8px;
}

@media(min-width: 768px) {

    /* about */
    .about1 h2 {
        padding-bottom: 32px;
    }

    .about1 p {
        padding: 0px 155px 102px;
        margin-bottom: 0px;
    }

    .about1 img {
        right: -100px;
        bottom: 0px;
    }

    .mainabout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: fit-content 1fr 1fr 1fr;
    }

    .mainabout h2 {
        padding: 100px 162px 0px;
        margin: 0 auto;
        grid-area: 1/ 1/ 2/ 3;
    }

    .mainabout__ornament1 {
        left: -100px;
        top: 0px;
    }

    .mainabout__person {
        max-width: 258px;
        max-height: 253px;
        margin-top: 48px;

    }

    .mainabout__person:nth-of-type(2n-1) {
        margin: 108px 5px 0px 96px;
        justify-self: end;
    }

    .mainabout__person:nth-of-type(2n) {
        margin: 108px 96px 0px 5px;
        justify-self: start;
    }

    .about2__ornament {
        left: 0px;
        top: -100px;


    }

    .about2 {
        height: 308px;
    }

    .about2 h2 {
        margin-top: 100px;
    }

    .about2__clients {


        height: 0px;
        margin-top: 52px;

        flex-direction: row;
        align-items: center;
    }

    .about2__clients img {
        display: flex;
    }

    .about2__clients img {
        display: inline-block;
        /* margin-top: 52px; */

    }

    /* pinksection */

    .pinksection {
        /* display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; */
    }

    .pinksection h2 {
        display: inline-block;
        margin: 0;
        padding: 84px 0px 84px 95px;
        padding-right: 84px;
    }

    .pinksection a {
        display: inline-block;
        margin: unset;
        margin-right: 96px;
    }

    /* footer */

    .footer {
        height: 271px;
        padding: 60px 40px 56px 39px;
    }

    .footer__wrap {
        display: inline-block;
        width: 100%;
    }

    .footer__innerwrap {
        display: inline-block;
        width: fit-content;
        float: left;
    }

    .footer__logo {
        /* float: left; */
        display: block;
    }

    .footer__nav {
        display: block;
        /* float: left; */
        padding: unset;
        padding: 53px 0px 33px;
    }

    .footer__info {

        word-wrap: unset;

        float: right;
        padding-bottom: 34px;
        margin: unset;
        vertical-align: top;
    }

    .footer__socials {
        padding: unset;
        float: left;
    }

    .footer__socials a img:nth-of-type(1) {
        padding-left: 0px;
    }

    .footer__copy {
        margin: unset;
        float: right;
    }

    /*header-tablet*/

    .header-logo {
        width: 130px;
        padding: 56px 24px 80px 23px;
    }

    .nav-img {
        object-fit: cover;
        object-position: 200px 200px;
        right: 0px;
    }

    .header-hamburger {
        object-fit: cover;
        object-position: 50px 50px;
    }

    .navbar-a {
        padding: 0px 70% 0px 40px;
    }

    .menu-btn {
        margin-right: 24px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .nav-item-expand {
        margin-top: 10px;
    }

    .navbar-button {
        padding-right: 0px;
    }

    /*contacts-main-tablet*/

    .contacts-img {
        padding-left: 127px;
    }

    form {
        padding-left: 115px;
    }

    input {
        width: 540px;
    }

    .img-person {
        padding-left: 130px;
    }

    .contacts-icon {
        width: 160px;
        height: 197px;
        object-position: 90px 5px;
        bottom: 0px;
    }

    .contacts-icon-green {
        top: -20px;
        object-position: -100px 0px;
    }

    .contacts-p {
        margin-top: 25px;
        margin-bottom: -25px;
    }
}

@media(min-width: 1440px) {

    /*header-desktop*/
    .header-logo {
        width: 150px;
        margin-left: 142px;
    }

    .navbar-a {
        padding-right: 85%;
    }

    .menu-btn {
        margin-right: 153px;
    }

    /*contacts-main-desktop*/
    .contacts-h2 {
        margin-left: 65px;
        margin-top: 60px;
    }

    .contacts-h3 {
        margin-left: 150px;
        margin-bottom: 25px;
        margin-top: 10px;
    }

    form {
        padding-right: 153px;
    }

    .contacts-item {
        flex-basis: 610px;
    }

    .contacts-icon {
        width: 160px;
        height: 180px;
        object-position: 80px;
        bottom: 0px;
    }

    .contacts-img {
        padding-top: 24px;
        margin-left: 15px;
        margin-right: -15px;
    }

    .contacts-icon-green {
        top: 20px;
    }

    .mainabout {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: fit-content 1fr 1fr;
        grid-gap: 30px;
        justify-content: center;
        align-items: center;
    }



    .mainabout h2 {
        grid-area: 1/ 1/ 2 / 4;
        padding-bottom: 64px;
    }

    .mainabout__person:nth-of-type(1n) {
        justify-self: unset;
        margin: 0;
        /* padding: 0; */
    }

    .mainabout__person:nth-of-type(3n-2) {
        justify-self: end;
    }

    .mainabout__person:nth-of-type(2n+n) {
        justify-self: start;
    }


}