:root {
    --Midnight_Green: #014E56;
    --Light-Coral: #F67E7E;
    --White: #FFFFFF;
    --Rapture-Blue: #79C8C7;
    --Police-Blue: hsl(187, 41%, 29%);
    --Deep-Jungle-Green: #004047;
    --Sacramento-State-Green: #012F34;
    --Dark-Green: #002529;
    --footer-grey: rgba(153, 168, 169, 255);
}

@font-face {
    font-family: Livvic;
    src: url(Livvic-Bold.ttf);
}

* {
    font-family: "Livvic";

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border-radius: 24px;
}

.button::before {
    content: "Hola,";
}

.button-primary:link {

    color: var(--White);
    border: 2px solid var(--White);

}

.button-primary:hover {

    color: var(--Dark-Green);
    background: var(--White);

}

.button--secondary:link {
    color: var(--Dark-Green);
    background: var(--White);
}

.button--secondary:hover {
    color: var(--Dark-Green);
    background: #79C8C7;
}

.h1--large {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: var(--Dark-Green);
}

.h1--small {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    color: var(--Dark-Green);
}

.h2 {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--Dark-Green);
}

.h3 {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--Dark-Green);
}

.body--1 {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--Dark-Green);
}

.body--2 {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--Dark-Green);
}

/* about */
.about1 {
    position: relative;

    color: var(--White);
    line-height: 28px;
    font-size: 15px;
    text-align: center;

    background-color: var(--Midnight_Green);

    overflow: hidden;
}

.about1 h2 {
    font-size: 64px;
    line-height: 56px;

    padding-bottom: 16px;
    margin: 0px 24px;
}

.about1 p {
    padding: 0px 24px 108px;
}

.about1 img {
    position: absolute;
    right: -100px;
    bottom: -100px;

}


.mainabout {
    text-align: center;

    padding-bottom: 116px;
    background-color: var(--Deep-Jungle-Green);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.mainabout__ornament1 {
    position: absolute;
    z-index: 0;

    left: -100px;
    top: -100px;
}

.mainabout__ornament2 {
    position: absolute;

    right: 0px;
    bottom: 0px;

}

.mainabout h2 {
    color: white;
    font-size: 32px;
    line-height: 32px;

    padding: 88px 24px 0px;

}

.mainabout__person {
    position: relative;

    width: 88%;
    padding: 32px 0px 56px;
    margin: 0px 24px;
    margin-top: 52px;
    background-color: var(--Sacramento-State-Green);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainabout__person h4 {
    font-style: italic;
}

.mainabout__person:first-child {
    margin-top: 0px;
}



.mainabout__person h3 {
    color: var(--Rapture-Blue);
    font-size: 18px;
    line-height: 28px;
    padding-top: 16px;
}

.mainabout__person h4 {
    color: var(--White);
    font-size: 15px;
    line-height: 25px;
}

.mainabout__person img {
    width: 96px;
    height: 96px;
    border: 2px solid #C4FFFE;
    border-radius: 50%;
}

.mainabout__person__button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;


    width: 56px;
    height: 56px;
    background-color: var(--Light-Coral);
    border: none;
    border-radius: 50%;

}

.mainabout__person__button:hover {
    background-color: var(--Rapture-Blue);
}


.mainabout__person__button:after {
    content: '+';
    font-size: 32px;
    line-height: 0;
    position: absolute;

    top: 43%;
    left: 2%;
    right: 0;
    bottom: 0;
}

.about2 {

    color: var(--White);
    text-align: center;
    position: relative;

    background-color: var(--Sacramento-State-Green);

    overflow: hidden;
}

.about2 h2 {
    color: var(--White);
    font-size: 32px;
    line-height: 32px;
    margin: 88px 24px 0px
}

/* .about2 img {
    display: block;
    margin: 0 auto;
} */

.about2__clients {
    height: 512px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about2__1 {
    display: block;

    width: 146.56px;
    height: 24.19px;
    margin: 0px auto;
}

.about2__2 {
    display: block;

    width: 162.21px;
    height: 19.92px;
    margin: 0px auto;
}

.about2__3 {
    display: block;

    margin: 0px auto;
    width: 159.37px;
    height: 24.19px;
}

.about2__4 {
    display: block;

    margin: 0px auto;
    width: 146.56px;
    height: 24.19px;
}

.about2__5 {
    display: block;

    margin: 0px auto;
    width: 86.8px;
    height: 39.84px
}


.about2__ornament {
    position: absolute;
    left: -100px;
    top: -100px;
}

/* pink section */

.pinksection {
    position: relative;

    color: var(--Sacramento-State-Green);
    text-align: center;

    background-color: var(--Light-Coral);

    overflow: hidden;
}

.pinksection h2 {
    font-size: 32px;
    line-height: 32px;

    margin: 83px 0px 24px;
    padding: 0 24px;

}

.pinksection__button {
    font-size: 18px;
    line-height: 28px;

    display: inline-block;
    margin-bottom: 83px;
    padding: 12px 30px;
    background-color: var(--Light-Coral);
    border: 2px solid var(--Sacramento-State-Green);
    border-radius: 50px;

}

.pinksection__button:hover {
    color: var(--White);
    background-color: var(--Sacramento-State-Green);
}

.pinksection__button:active {
    color: var(--Sacramento-State-Green);
    background-color: var(--Light-Coral);
}

.pinksection img {
    position: absolute;
    left: 0px;
    bottom: -22px;
}

/* footer */

.footer {
    color: white;
    text-align: center;

    width: 100%;
    background-color: var(--Dark-Green);
    padding: 66px 60px 64px;

}

.footer__logo {}

.footer__logo img {
    width: 100px;
}

.footer__nav {

    list-style: none;

    margin: 0 auto;
    padding: 24px 50px;

}

.footer__nav li {
    display: inline;
}

.footer__nav li:nth-child(1) {
    padding-right: 24px;
}

.footer__nav a {
    color: var(--White);
    text-decoration: none;
}

.footer__nav a:hover {
    color: var(--Light-Coral);
}

.footer__nav a:active {
    color: var(--White)
}

.footer__nav a:visited {
    color: var(--White);
}

.footer__info {}

.footer__info span {
    color: var(--footer-grey);
    font-size: 15px;
    line-height: 25px;

    display: block;
}

.footer__socials {
    padding: 40px 0px 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__socials a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__socials a:first-child img {
    padding-left: 16px;
}

.footer__socials a img:nth-child(1),
.footer__socials a img:nth-child(2) {
    padding-right: 16px;
}

.footer__socials a:hover {
    cursor: pointer;
    filter: invert(51%) sepia(8%) saturate(3511%) hue-rotate(314deg) brightness(125%) contrast(93%);
}

.footer__socials a:active {
    filter: invert(0%) sepia(99%) saturate(0%) hue-rotate(40deg) brightness(109%) contrast(101%);
}

.footer__copy {
    color: var(--footer-grey);
    white-space: nowrap;
    font-size: 15px;
    line-height: 25px
}

/*header*/

header {
    background-color: var(--Police-Blue);
}

.header-logo {
    width: 100px;
    padding: 40px 0px 10px 20px;
}

.navbar-button {
    border: none;
    background-color: var(--Police-Blue);
}

.menu-bg-blue {
    background-color: var(--Police-Blue);
}

a:link {
    text-decoration: none;
}

a:hover {
    color: var(--Light-Coral);
}

.menu-btn {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border: 2px solid var(--White);
    border-radius: 24px;
    color: var(--White);
    background-color: var(--Police-Blue);
    Width: 153px;
    Height: 48px;
}

.nav-img {
    width: 200px;
    height: 200px;
    position: absolute;
    right: -100px;
    bottom: 0px;
}

.navbar-menu {
    padding-left: 48px;
}

.navbar-a {
    padding: 24px 0px 36px 0px;
}

.a-white {
    color: var(--White);
}

/*contacts-main*/