:root {
    --Midnight_Green: #014E56;
    --Light-Coral: #F67E7E;
    --White: #FFFFFF;
    --Rapture-Blue: #79C8C7;
    --Police-Blue: #2C6269;
    --Deep-Jungle-Green: #004047;
    --Sacramento-State-Green: #012F34;
    --Dark-Green: #002529;

}

* {
    font-family: ;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* footer */

.footer {
    color: white;
    text-align: center;

    width: 100%;
    background-color: var(--Dark-Green);
    padding: 66px 60px 64px;

}

.footer__logo {}

.footer__logo img {
    width: 100px;
}

.footer__nav {
    padding: 24px 0px;

    display: flex;
    flex-direction: row;
}